ExpensiMondo.xcodeproj/project.xcworkspace/xcuserdata/
ExpensiMondo.xcodeproj/xcuserdata/*.xcuserdatad/

ExpensiMondo.xcworkspace/xcuserdata/*

Pods/Pods.xcodeproj/
Pods/Pods.xcodeproj/*

Credentials.json
Configuration.json